*,
html {
    margin: 0;
    padding: 0;
}

.container{
    
}

.container-navbar {
    background-color:#333;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
     padding: 20px;
     margin: 5px;
     color: white;
     font-size: 30px;
     height: 10vh;
}

.li-navbar:hover {
    background-color: #06e0ef;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 9px;
}

.a-navbar {
    color:white;
    text-decoration: none;
}

.container-content {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.img-content {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-content {
    background-color: white;
    color: #000;
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(25,207,189,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(25,207,189,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(25,207,189,0.75);
    
}

.container-footer {
    height: 10vh;
    background-color: #0ca5b0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.h1-footer {
    color:white;
    font-size: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
}